<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="top-back-fix" (click)="close({ data: 'A' })">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      Select Phone Number to Call
    </ion-list-header>

  </ion-list>



<ion-card color="light" [hidden]=phone1_ishidden (click)="callMe(phone1)">
  <ion-card-header>
    <ion-card-title>{{phone1}}  <ion-icon style="float:right" name="call" class="ion-icon"></ion-icon></ion-card-title>
  </ion-card-header>

</ion-card>

<ion-card color="light" [hidden]=phone2_ishidden (click)="callMe(phone2)">
  <ion-card-header>
    <ion-card-title>{{phone2}}  <ion-icon style="float:right" name="call" class="ion-icon"></ion-icon></ion-card-title>
  </ion-card-header>

</ion-card>


<ion-card color="light" [hidden]=phone3_ishidden (click)="callMe(phone3)">
  <ion-card-header>
    <ion-card-title>{{phone3}}  <ion-icon style="float:right" name="call" class="ion-icon"></ion-icon></ion-card-title>
  </ion-card-header>

</ion-card>

</ion-content>
