<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons [hidden]="slide == 1" slot="start">
      <ion-button (click)="slide == 1 ? close() : back()">
        <ion-icon
          [name]="slide == 1 ? 'close' : 'arrow-back-outline'"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title [hidden]="slide == 1"> On Boarding </ion-title>
    <ion-buttons [hidden]="slide == 1" slot="end">
      <ion-button [hidden]="!loading">
        <ion-spinner></ion-spinner>
      </ion-button>
      <ion-button [hidden]="slide == 2" (click)="slide == 4 ? done() : next()">
        <ion-icon
          [name]="slide == 4 ? 'checkmark-outline' : 'arrow-forward-outline'"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="instructions" [hidden]="slide == 2 || slide == 3 || slide == 4">
    <p class="heading" style="margin-bottom: 9px">Welcome to ZUUL Guard</p>

    <p class="point">
      The next several screens will take you through the onboarding process
      <br />
      Please follow instructions below
    </p>

    <div class="points_div">
      <p class="points">
        1. Select and confirm the location of guard house this device will be
        used in
      </p>
      <!-- <p class="points">
        2. On the second screen please select your Account Type .
      </p> -->
      <p class="points">
        2. Select the manner in which the guard will capture license plate
        information
      </p>
    </div>

    <ion-button
      style="margin: 0 35px"
      shape="round"
      expand="block"
      class="btn-big ion-text-uppercase"
      color="success"
      (click)="next()"
    >
      PROCEED
    </ion-button>
  </div>

  <div class="full" [hidden]="slide == 3 || slide == 1 || slide == 4">
    <p class="heading" *ngIf="_location">
      Is the Location Listed Below Correct?
    </p>
    <p class="heading" *ngIf="!_location">
      Please Select the Correct Location <br />
    </p>

    <p class="point" *ngIf="!_location">
      When Finished Press the Checkmark at the Top Right Corner of the Screen
    </p>

    <p class="location">{{_location?.address}}</p>

    <div style="position: absolute; bottom: 10%; width: 100%">
      <ion-button
        [hidden]="!_location"
        shape="round"
        expand="block"
        class="btn-big btn-margin location-btn ion-text-uppercase"
        color="success"
        (click)="next()"
      >
        Yes
      </ion-button>

      <ion-button
        shape="round"
        expand="block"
        class="btn-big btn-margin location-btn ion-text-uppercase"
        color="success"
        (click)="openMap()"
      >
        Open Map
      </ion-button>
    </div>

    <!-- <app-gmap (updateLocation)="setLocation($event)"></app-gmap> -->
  </div>

  <div class="full" [hidden]="slide == 1 || slide == 2 || slide == 4">
    <p class="heading">
      Do you want to enable or Disable NO FIXED Camera mode ?
    </p>

    <ion-grid>
      <ion-row class="ion-justify-content-center ion-align-items-center">
        <ion-col style="text-align: center" size="12">
          <ion-icon name="settings" class="greenicon"></ion-icon>
        </ion-col>
        <ion-col size="12">
          <ion-list class="no-background">
            <ion-item class="ion-text-wrap" color="primary">
              <ion-label>
                <p>Enable NO FIXED Camera mode?</p>
                <p></p>
              </ion-label>

              <ion-toggle [(ngModel)]="rover_mode" color="success"></ion-toggle>
            </ion-item>

            <ion-list [hidden]="!rover_mode">
              <ion-radio-group [(ngModel)]="rover_type" value="standard_rover">
                <ion-list-header color="primary">
                  <ion-label
                    >How will you capture License Plate information?</ion-label
                  >
                </ion-list-header>

                <ion-item color="primary">
                  <ion-label class="ion-text-wrap"
                    >Tablet Camera and Manually Type License Plate into OCR Box
                  </ion-label>
                  <ion-radio
                    color="light"
                    slot="start"
                    value="standard"
                  ></ion-radio>
                </ion-item>

                <ion-item color="primary">
                  <ion-label class="ion-text-wrap"
                    >No Image Taken and Fill Out Form</ion-label
                  >
                  <ion-radio
                    color="light"
                    slot="start"
                    value="regular"
                  ></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-list>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="full" [hidden]="slide == 1 || slide == 2 || slide == 3">
    <div>
      <p class="heading ion-text-wrap">Enable Air Print ?</p>

      <ion-item color="primary" class="ion-margin-top">
        <ion-label slot="start">
          {{air_print ? 'Enable' : 'Disable' }}
        </ion-label>

        <ion-toggle
          slot="end"
          [(ngModel)]="air_print"
          color="success"
        ></ion-toggle>
      </ion-item>
    </div>

    <!-- LPR NON LPR CAMERAS -->
    <ion-list *ngIf="camerasAvailable" class="bg">
      <ion-list-header color="primary">
        <ion-label class="heading ion-text-wrap"
          >{{!default_cam ? "Select" : "" }} License Plate Camera</ion-label
        >
      </ion-list-header>

      <ion-button
        (click)="openCamerasModal()"
        class="ion-padding-horizontal"
        *ngIf="!default_cam"
        shape="round"
        color="success"
        expand="block"
        style="margin: 0 auto"
      >
        <span *ngIf="!isLoadingCam"> Click Here To Select Camera </span>
        <ion-spinner *ngIf="isLoadingCam"></ion-spinner>
      </ion-button>

      <ion-item
        (click)="openCamerasModal()"
        class="ion-text-wrap ion-text-center"
        color="primary"
      >
        <ion-label class="cam_details ion-text-center">
          <h2 *ngIf="default_cam">{{ default_cam.name}}</h2>
          <p *ngIf="default_cam">{{ default_cam.mac_address }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <!-- DOORBIRD CAMERAS -->

    <!-- *ngIf="doorBirdAvailable" -->
    <!-- <ion-list class="bg">
      <ion-list-header color="primary">
        <ion-label class="heading ion-text-wrap"
          >{{!doorbird_cam ? "Select" : "" }} DoorBird Camera</ion-label
        >
      </ion-list-header>

      <ion-button
        (click)="openCamerasModal('doorbird')"
        class="ion-padding-horizontal"
        *ngIf="!doorbird_cam"
        shape="round"
        color="warning"
        expand="block"
        style="margin: 0 auto"
      >
        <span *ngIf="!isLoadingCam"> Click Here To Select Camera </span>
        <ion-spinner *ngIf="isLoadingCam"></ion-spinner>
      </ion-button>

      <ion-item
        (click)="openCamerasModal('doorbird')"
        class="ion-text-wrap ion-text-center"
        color="primary"
      >
        <ion-label class="cam_details ion-text-center">
          <h2 *ngIf="doorbird_cam">{{ doorbird_cam.name}}</h2>
          <p *ngIf="doorbird_cam">{{ doorbird_cam.mac_address }}</p>
        </ion-label>
      </ion-item>
    </ion-list> -->
  </div>
</ion-content>

<!-- FRONT CAMERAS -->
<!-- <ion-list class="bg" *ngIf="remote_guard">
      <ion-list-header color="primary">
        <ion-label class="heading ion-text-wrap">{{!front_camera ? "Select" : "" }} Front Camera</ion-label>
      </ion-list-header>

      <ion-button (click)="openCamerasModal('front_camera')" class="ion-padding-horizontal" *ngIf="!front_camera"
        shape="round" color="tertiary" expand="block" style="margin: 0 auto;">
        <span *ngIf="!isLoadingCam">
          Click Here To Select Front Camera
        </span>
        <ion-spinner *ngIf="isLoadingCam"></ion-spinner>
      </ion-button>

      <ion-item (click)="openCamerasModal('front_camera')" class="ion-text-wrap ion-text-center" color="primary">
        <ion-label class="cam_details ion-text-center">
          <h2 *ngIf="front_camera">
            {{ front_camera.name}}
          </h2>
          <p *ngIf="front_camera">{{ front_camera.mac_address }} </p>
        </ion-label>
      </ion-item>
    </ion-list> -->

<!-- <ion-list class="bg">
      <ion-list-header color="primary">
        <ion-label class="heading ion-text-wrap">Remote Guard</ion-label>
      </ion-list-header>

      <ion-item color="primary" class="ion-margin-top">
        <ion-label slot="start">
          {{remote_guard ? 'Enable' : 'Disable' }}
        </ion-label>

        <ion-toggle slot="end" [(ngModel)]="remote_guard" color="success"></ion-toggle>
      </ion-item>
    </ion-list> -->

<!-- <div class="full" [hidden]="slide == 2 || slide == 4 || slide == 1">
    <p class="heading">
      Please Select Your Account Type:
    </p>
     <br>
    <p>License Type: Driver's License</p> -->

<!-- <ion-list>

      <ion-radio-group [(ngModel)]="account_type" value="standard">
        <ion-list-header color="primary">
          <ion-label>Account Type</ion-label>
        </ion-list-header>

        <ion-item color="primary">
          <ion-label class="ion-text-wrap">Standard Guard (no camera and no mounted scanners)</ion-label>
          <ion-radio color="light" slot="start" value="standard"></ion-radio>
        </ion-item>

        <ion-item color="primary">
          <ion-label class="ion-text-wrap">Guard with Camera</ion-label>
          <ion-radio color="light" slot="start" value="with_camera"></ion-radio>
        </ion-item>

        <ion-item color="primary">
          <ion-label class="ion-text-wrap">Guard with Camera (with OCR)</ion-label>
          <ion-radio color="light" slot="start" value="with_camera_ocr"></ion-radio>
        </ion-item>

        <ion-item color="primary">
          <ion-label class="ion-text-wrap">Guard with Camera (without OCR)</ion-label>
          <ion-radio color="light" slot="start" value="with_camera_no_ocr"></ion-radio>
        </ion-item>

      </ion-radio-group>
    </ion-list>



  </div> -->
