ion-content {
    --background: var(--ion-color-primary);
}

.bg {
    background: var(--ion-color-primary);
}

.full {
    height: 100%;
}

.heading {
    color: white;
    font-size: 1.85rem;
    text-align: center;
    padding: 0 25px;
    font-weight: 500;
}

.sub-heading {
    margin-top: 7px;
    font-size: 1.1rem;
}

ion-icon.greenicon {
    font-size: 7rem;
    margin: 25px 0px;
    color: #7ad419;
}

.point {
    text-align: center;
    margin: 0 23px;
    color: white;
}

.instructions {
    color: white;

    .points_div {
        margin: 75px 28px;
    }

    .points {
        margin: 15px 11px;
        font-size: 21px;
    }
}

.btn-big {
    height: 90px;
    font-weight: bold;
    font-size: 1.1em;
}

.list-btn {
    color: white;
    font-size: 12px;
    margin: 18px 0px;
}

.location {
    font-size: 1.5rem;
    padding: 30px 25px;
    text-align: center;
    color: white;
}

.btn-margin {
    margin: 15px 35px;
}
