<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button class="top-back-fix" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{display_name}} ({{this.plist.length}})</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="sync()" [disabled]="isLoading">
        <ion-icon [hidden]="isLoading" name="refresh-outline"></ion-icon>
        <ion-spinner *ngIf="isLoading"></ion-spinner>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <!-- (input)="searchUpdate($event)" -->
    <ion-searchbar
      #searchbar
      (ionCancel)="reset()"
      [(ngModel)]="search_value"

      [showCancelButton]="true"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="spinner" [hidden]="!isLoading">
    <ion-spinner color="primary"></ion-spinner>
  </div> -->

  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-subtitle class="ion-padding"
      >Selecting any contact will initiate a quick pass
      instantly</ion-card-subtitle
    >
  </ion-card>
  <ion-list>
    <ion-item
      lines="none"
      *ngFor="let item of plist | filter: search_value"
      (click)="initiateQuickPass(item)"
    >
      <ion-avatar slot="start">
        <ion-icon
          name="person-circle-outline"
          style="font-size: 2.2em"
        ></ion-icon>
        <!-- <img [src]="users.avatar" /> -->
        <!-- <img *ngIf="item.its_user?.profileImageUrl" [src]="item.its_user?.profileImageUrl"> -->
      </ion-avatar>
      <ion-label>
        <h2>
          {{item.contact_name}}
          <ion-icon name="star" *ngIf="item.new"></ion-icon>
        </h2>
        <p>{{item.dial_code}} {{item.formatted_phone_number}}</p>
      </ion-label>
      <!-- <ion-badge slot="end">Quick Pass</ion-badge> -->
      <ion-icon
        color="primary"
        [hidden]="item.delete"
        slot="end"
        (click)="deleteItem($event, item)"
        name="trash"
      >
      </ion-icon>
      <ion-spinner slot="end" *ngIf="item.delete"></ion-spinner>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!-- <ion-fab vertical="bottom" horizontal="end" class="fab-btn-c">
  <ion-fab-button color="primary" (click)="sync()">
    <ion-spinner *ngIf="isSync" color="light"></ion-spinner>
    <ion-icon *ngIf="!isSync" name="refresh-outline"></ion-icon>
  </ion-fab-button>
  <label class="floating-label" side="left">Sync</label>
</ion-fab> -->
<ion-fab vertical="bottom" horizontal="end" class="fab-btn-c">
  <ion-fab-button color="primary" (click)="add()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <label class="floating-label" side="left">Add</label>
</ion-fab>
