<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="top-back-fix" (click)="close({ data: 'A' })">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Pre Approved Guests List</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="aForm">
    <!-- <ion-item>
      <ion-label position="stacked">Category </ion-label>
      <ion-select formControlName="vendor_category">
        <ion-select-option selected disabled value=""
          >Select Category</ion-select-option
        >
        <ion-select-option
          *ngFor="let item of dnc_categories"
          [value]="item.name"
          >{{ item.name }}</ion-select-option
        >
      </ion-select>
    </ion-item> -->
    <!-- <ion-item>
      <ion-button (click)="addNewCategory($event)">
        <ion-icon name="add" size="medium"></ion-icon>
        Add Category
      </ion-button>
    </ion-item> -->
    <ion-item>
      <ion-label>Share with Household</ion-label>
      <ion-toggle
        formControlName="is_private_household"
        color="primary"
      ></ion-toggle>

      <!-- <ion-checkbox dark formControlName="is_private_household"></ion-checkbox> -->
    </ion-item>
    <ion-item>
      <ion-label position="stacked"> Name </ion-label>
      <ion-input
        type="text"
        formControlName="vendor_name"
        id="vendor_name"
        placeholder="Full Vendor Name"
      ></ion-input>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start" (click)="openCounryCode()">
        <img src="{{ dial_code.image }}" />
      </ion-avatar>
      <div slot="start" class="tel-code">
        {{ aForm.controls.dial_code.value }}
      </div>
      <ion-input
        type="tel"
        (input)="onTelephoneChange($event)"
        formControlName="vendor_contacts"
        id="phone_number"
        placeholder="Phone Number"
      ></ion-input>
    </ion-item>

    <!-- <ion-grid lines="visible" *ngIf="vendor_contacts.length > 0">
      <ion-row class="ion-padding">
        <ion-col class="ion-no-padding" size="12">
          <ion-chip *ngFor="let item of vendor_contacts">
            <ion-label>{{ item }}</ion-label>
            <ion-icon
              (click)="removeContacts(item)"
              name="close-circle"
            ></ion-icon>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid> -->

    <ion-button
      class="ion-margin"
      shape="round"
      color="primary"
      expand="block"
      type="submit"
      (click)="create()"
    >
      <span [hidden]="loading">{{ dnc_obj ? "Update" : "Create" }}</span>
      <ion-spinner [hidden]="!loading"></ion-spinner>
    </ion-button>
  </form>
</ion-content>
