<ion-item style="height: 62px;">
  <ion-label>
    <h2>{{item.display_name}} <ion-icon name="star" *ngIf="item.new"></ion-icon></h2>
    <p [innerHtml]="item.phone_number"></p>
  </ion-label>
  <!-- <span item-right> -->
    <!-- [checked]="isSelectedContact(item.id) == true" -->
    <ion-checkbox slot="end" [(ngModel)]="item.is_assigned_temporary"  (ionChange)="addSelectedContact.emit( { checked: item.is_assigned_temporary, id: item.id} )"></ion-checkbox>
  <!-- </span> -->
</ion-item>