<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="top-back-fix" (click)="closeModal({data: 'A'})">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Vehicle Profile</ion-title>

  </ion-toolbar>

</ion-header>


<ion-content class="ion-padding ion-text-wrap">
  <ion-list>
    <form [formGroup]="aForm">

      <ion-item>
        <ion-label class="ion-text-wrap">Please enter the vehicle information below to add to profile </ion-label>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          License Plate
        </ion-label>
        <ion-input type="text" formControlName="license_plate" id="license_plate" placeholder="License Plate Number">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="!aForm.controls.license_plate.valid  && ( aForm.controls.license_plate.dirty || submitAttempt )">
        <ion-badge>invalid license plate...</ion-badge>
      </ion-item>


      <ion-item>
        <ion-label position="stacked">
          Make
        </ion-label>
        <ion-input type="text" formControlName="make" id="make" placeholder="Make"></ion-input>
      </ion-item>

      <ion-item *ngIf="!aForm.controls.make.valid && ( aForm.controls.make.dirty || submitAttempt )">
        <ion-badge>invalid make ...</ion-badge>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          Model
        </ion-label>
        <ion-input type="text" formControlName="model" id="model" placeholder="model"></ion-input>
      </ion-item>

      <ion-item *ngIf="!aForm.controls.model.valid && ( aForm.controls.model.dirty || submitAttempt )">
        <ion-badge>invalid model ...</ion-badge>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          Year
        </ion-label>
        <ion-input type="tel" formControlName="year" maxlength="4" id="year" placeholder="year"></ion-input>
      </ion-item>

      <ion-item *ngIf="!aForm.controls.year.valid && ( aForm.controls.year.dirty || submitAttempt )">
        <ion-badge>invalid year ...</ion-badge>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          Color
        </ion-label>
        <ion-input type="text" formControlName="color" id="color" placeholder="color"></ion-input>
      </ion-item>

      <ion-item *ngIf="!aForm.controls.color.valid && ( aForm.controls.color.dirty || submitAttempt )">
        <ion-badge>invalid color ...</ion-badge>
      </ion-item>

      <ion-item *ngIf="!aForm.controls.color.valid  && ( aForm.controls.color.dirty || submitAttempt )">
        <ion-badge>color required...</ion-badge>
      </ion-item>



    </form>

  </ion-list>

</ion-content>
<ion-footer>
  <div class="ion-padding">
    <ion-button shape="round" color="primary" expand="block" type="submit" (click)="create()">{{btnText}}
    </ion-button>
  </div>
</ion-footer>
