ion-icon.greenicon {
  font-size: 9rem;
  color: #7ad419;
}

.cam_details {
  text-align: center;

  p {
    margin: 0;
  }

  p.name {
    font-size: 13px;
    margin: 5px 0px;
  }

  p.mac_address {
    font-size: 12px;
    margin-bottom: 7px;
  }
}

.label-design {
  font-size: 1.1rem;
  margin: 10px 0px;
}

.custom-item {
  --color: var(--ion-color-primary);
  --color-disabled: var(--ion-color-primary); 
}

