<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Settings </ion-title>
    <ion-buttons slot="end">
      <ion-button [hidden]="!loading">
        <ion-spinner></ion-spinner>
      </ion-button>
      <ion-button (click)="updateFlags()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="gradient ion-padding ion-text-center">
  <ion-grid>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size="12">
        <ion-icon name="settings" class="greenicon"></ion-icon>
      </ion-col>

      <!-- <ion-col>
        <ion-item class="ion-text-wrap" color="primary">
          <ion-label>
            <p>On Boarding
            <p>
          </ion-label>
          <ion-toggle [(ngModel)]="is_onboarded" color="success"></ion-toggle>
        </ion-item>
      </ion-col> -->
      <ion-col size="12">
        <ion-list class="no-background">
          <ion-item class="ion-text-wrap" color="primary" *ngIf="community_id != 54 && community_id != 61">
            <ion-label>
              <p>Enable Remote Guard</p>
            </ion-label>
            <ion-toggle
              [(ngModel)]="check_toggle"
              color="success"
            ></ion-toggle>
          </ion-item>

          <ion-item class="ion-text-wrap" color="primary">
            <ion-label>
              <p>No Fixed Camera Mode</p>
              <p></p
            ></ion-label>

            <ion-toggle [(ngModel)]="rover_mode" color="success"></ion-toggle>
          </ion-item>

          <ion-list [hidden]="!rover_mode">
            <ion-radio-group [(ngModel)]="rover_type" value="standard_rover">
              <ion-list-header color="primary" class="ion-text-left">
                <ion-label class="label-design">
                  How will you capture License Plate information?
                </ion-label>
              </ion-list-header>

              <ion-item color="primary">
                <ion-label class="ion-text-wrap"
                  >Tablet Camera and Manually Type License Plate into OCR
                  Box</ion-label
                >
                <ion-radio
                  color="light"
                  slot="start"
                  value="standard"
                ></ion-radio>
              </ion-item>

              <ion-item color="primary">
                <ion-label class="ion-text-wrap"
                  >No Image Taken and Fill Out Form</ion-label
                >
                <ion-radio
                  color="light"
                  slot="start"
                  value="regular"
                ></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <!-- <ion-item (click)="openRingCentralLogin()" class="ion-text-wrap" color="primary">
            <ion-label>
              <p>Ring Central Login
              <p>
            </ion-label>
            <ion-text>
              <p class="name">
                {{ token ? "LOGGED IN" : 'LOGGED OUT'}}
              </p>
            </ion-text>

          </ion-item> -->
          <ion-item
            *ngIf="camerasAvailable"
            (click)="openCamerasModal()"
            class="ion-text-wrap"
            color="primary"
          >
            <ion-label class="ion-text-wrap">
              <p>Enable Default Camera</p>
              <p></p
            ></ion-label>

            <ion-text class="cam_details">
              <p class="name">
                {{ default_cam ? default_cam.name : 'No Camera Selected'}}
              </p>
              <p *ngIf="default_cam" class="mac_address">
                {{ default_cam.mac_address }}
              </p>
            </ion-text>
          </ion-item>
          <!-- <ion-item
            class="ion-text-wrap"
            color="primary"
            [hidden]="!showDoorbird"
          >
            <ion-label>
              <p>Enable Doorbird Camera</p>
              <p></p
            ></ion-label>

            <ion-toggle
              (ionChange)="updateDoorbird($event)"
              [(ngModel)]="enableDoorbird"
              color="success"
            ></ion-toggle>
          </ion-item> -->
          <!-- <ion-item
            [hidden]="!showDoorbird"
            *ngIf="doorbirdCamerasAvailable"
            (click)="openCamerasModal('doorbird')"
            class="ion-text-wrap"
            color="primary"
          >
            <ion-label class="ion-text-wrap">
              <p>Select Doorbird Camera</p>
              <p></p
            ></ion-label>

            <ion-text class="cam_details">
              <p class="name">
                {{ default_cam ? default_cam.name : 'No Camera Selected'}}
              </p>
              <p *ngIf="default_cam" class="mac_address">
                {{ default_cam.mac_address }}
              </p>
            </ion-text>
          </ion-item> -->

          <!-- <ion-item *ngIf="camerasAvailable" (click)="openCamerasModal('front_camera')" class="ion-text-wrap"
            color="primary">
            <ion-label class="ion-text-wrap">
              <p>Select Front Camera
              <p>
            </ion-label>
            <ion-text class="cam_details">
              <p class="name">
                {{ front_camera ? front_camera.name : 'No Front Camera Selected'}}
              </p>
              <p *ngIf="front_camera" class="mac_address">{{ front_camera.mac_address }} </p>
            </ion-text>
          </ion-item> -->

          <ion-item class="ion-text-wrap" color="primary">
            <ion-label>
              <p>Enable Air Print</p>
              <p></p
            ></ion-label>

            <ion-toggle [(ngModel)]="air_print" color="success"></ion-toggle>
          </ion-item>

          <ion-item *ngIf="community_id == 54 || community_id == 61"
            (click)="openWebRelaysModal()"
            color="primary"
            class="ion-text-wrap"
          >
             <ion-label>
                <p>Select Web Relay</p>
                <p></p
              ></ion-label>

              <ion-text class="cam_details">
                <p class="name">
                  {{ webRelay ? webRelay.web_hook : 'No Web Relay Selected'}}
                </p>
                <p *ngIf="webRelay" class="mac_address">
                  {{ webRelay.mac_address }}
                </p>
              </ion-text>
          </ion-item>
        </ion-list>
      </ion-col>

      <!-- <ion-col size="12" *ngIf="is_onboarded">
        <ion-button expand="block" color="light" (click)="resetOnboarding()">
            Reset On Boarding
        </ion-button>
      </ion-col> -->
    </ion-row>
  </ion-grid>
</ion-content>
