<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="openPopover($event)">
        <ion-icon name="menu"></ion-icon>
        <!-- <ion-menu-button menu="main"></ion-menu-button> -->
      </ion-button>
    </ion-buttons>

    <ion-title> Guest Log </ion-title>
    <ion-buttons slot="end">
      <ion-button [hidden]="!isLoading">
        <ion-spinner></ion-spinner>
      </ion-button>
      <ion-button (click)="doRefresh()" [hidden]="isLoading">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar color="primary">
    <ion-searchbar color="primary" style="--box-shadow: none !important;" (input)="setFilteredItems($event, false)">
    </ion-searchbar>
  </ion-toolbar> -->
</ion-header>

<ion-content class="gradient">
  <!-- <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher> -->

  <div *ngIf="isWithinLocation">
    <ion-list class="ion-no-padding" lines="none" *ngIf="plist?.length > 0">
      <div *ngFor="let item of plist; let i = index">
        <!-- <ion-item class="ion-text-wrap" *ngIf="item.scanned == null" color="primary">
          <ion-grid class="ion-text-wrap">
            <ion-row class="mforcolumns">
              <ion-col size="12">
                <p>{{item.log_text}}</p>
              </ion-col>
              <ion-col size="12">
                <p [ngClass]="{'succ' : item.is_success == 1, 'err' : item.is_success == 0 }">{{item.scan_date}}</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item> -->

        <ion-item class="ion-text-wrap" color="primary">
          <ion-grid class="ion-text-wrap">
            <ion-row class="mforcolumns">
              <ion-col class="scan_detail" size="6">
                <h2>Name Given: {{ item?.guard_display_name }}</h2>
                <h2>Registered To: {{ item?.added_user?.fullName }}</h2>
                <p>
                  Phone: {{ item?.added_user?.formattedPhone }}<br />
                  {{
                  item?.vehicle?.license_plate
                  ? "Plate:" + item?.vehicle?.license_plate
                  : ""
                  }}
                </p>
              </ion-col>
              <ion-col class="scan_detail" size="6">
                <h6>
                  <!-- Event: {{item?.pass?.event?.fullName}}<br> -->
                  Resident: {{ item?.pass?.created_by?.fullName }}
                </h6>
                <h6>Pass Type: {{ item?.pass?.event?.fullName }}</h6>
              </ion-col>
              <ion-col size="6">
                <p class="ion-no-margin" [ngClass]="{
                    succ: item.is_success == 1,
                    err: item.is_success == 0
                  }">
                  {{ item.log_text }}
                </p>
              </ion-col>
              <ion-col size="6">
                <p class="ion-no-margin" [ngClass]="{
                    succ: item.is_success == 1,
                    err: item.is_success == 0
                  }">
                  {{ item.scan_date }}
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>
    </ion-list>
  </div>

  <app-emptyview *ngIf="plist?.length == 0" [icon]="'assets/imgs/identity.png'" [type]="'image'"
    [message]="'You Have No Scan Records'" [isColorWhite]="true"></app-emptyview>

  <div *ngIf="!isWithinLocation">
    <app-emptyview [icon]="'assets/imgs/identity.png'" [type]="'image'" [message]="'You are out of range'"
      [isColorWhite]="true"></app-emptyview>
  </div>

  <ion-infinite-scroll (ionInfinite)="offset != -1 ? loadMore($event) : $event.target.complete()">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-grid class="ion-no-padding">
    <ion-row class="ion-no-padding">
      <ion-col size="4" class="ion-no-padding">
        <ion-button fill="clear" class="" (click)="scanCode(false)">
          <div class="dflex">
            <ion-spinner color="light" name="dots" *ngIf="qrcodeLoading"></ion-spinner>
            <ion-icon name="barcode-outline" *ngIf="!qrcodeLoading"></ion-icon>
            <label>Scan A <br *ngIf="qrcodeLoading">Pass</label>

          </div>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-no-padding">
        <ion-button fill="clear" class="" (click)="openGate(true)">
          <div class="dflex">
            <ion-icon name="lock-open-outline"></ion-icon>
            <label>Open Gate</label>
          </div>
        </ion-button>
      </ion-col>
      <ion-col size="4" class="ion-no-padding">
        <ion-button *ngIf="!isResidentsLoading" fill="clear" class="" (click)="gotiGuardRes()">
          <div class="dflex">
            <ion-icon name="people-circle-outline"></ion-icon>
            <label>Residents</label>
          </div>
        </ion-button>
        <ion-button fill="clear" *ngIf="isResidentsLoading">
          <div class="dflex">
            <ion-spinner color="light" name="dots"></ion-spinner>
            <label class="ion-reduce-height">Loading Residents..</label>
          </div>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
