<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button *ngIf="slideNumber == 2" (click)="closeModal()">
        Close
      </ion-button>
    </ion-buttons>
    <ion-title>{{ slideNumber === 0 ? heading1 : heading2 }} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <form [formGroup]="aForm">
    <ion-slides pager="false" #slides>
      <ion-slide>
        <first-slide
          [formGroup]="aForm"
          [data]="data"
          (kioskCallNextImage)="kioskCallNextImage($event)"
          (moveSlide)="notVerified('image_verified', $event)"
        >
        </first-slide>
      </ion-slide>
      <ion-slide>
        <ion-card color="primary">
          <ion-card-header style="padding-bottom: 0px;">
            <ion-card-subtitle>Step 2</ion-card-subtitle>
            <ion-card-title *ngIf="!isOpenNativeCamera"
              >Verify Guest License Plate
            </ion-card-title>
            <ion-card-title *ngIf="isOpenNativeCamera">
              Verify License Plate</ion-card-title
            >
            <ion-card-subtitle *ngIf="!data"
              >Please Add Vehicle</ion-card-subtitle
            >
          </ion-card-header>

          <ion-card-content class="ion-no-padding" *ngIf="data">
            <div>
              <h1 class="ln-heading">{{ data?.license_plate | uppercase }}</h1>

              <div *ngIf="!showOcr">
                <h1 class="lg-heading" *ngIf="data.make">
                  {{ data?.make }}<br />
                </h1>
                <h1 class="lg-heading" *ngIf="data.model">
                  {{ data?.model }}<br />
                </h1>
                <h1 class="lg-heading" *ngIf="data.year">
                  {{ data?.year }}<br />
                </h1>
                <h1 class="lg-heading" *ngIf="data.color">
                  {{ data?.color }}<br />
                </h1>
              </div>

              <br />

              <p>Verified ?</p>
              <!-- [hidden]="!isFixedCam" -->
              <ion-spinner

                *ngIf="isCameraLoading"
                class="license_plate_pic"
              ></ion-spinner>
              <img

                *ngIf="!isCameraLoading && camera.ImageURL != ''"
                class="license_plate_pic"
                [src]="camera.ImageURL"
                alt=""
              />

              <!-- <img
                *ngIf="isOpenNativeCamera"
                class="license_plate_pic"
                [src]="camera.ImageURL"
                alt=""
              /> -->

              <ion-input
                [hidden]="!showOcr"
                [disabled]="isCameraLoading"
                class="ocr_input"
                [(ngModel)]="camera.ocr"
                (ionChange)="ocrChange($event)"
                [ngModelOptions]="{ standalone: true }"
              >
              </ion-input>

              <ion-list class="ion-padding background-transparent">
                <ion-radio-group formControlName="license_verified">
                  <!-- <ion-grid style="margin: 17px 0px;font-size: 0.85em;" class="ion-no-padding">
                    <ion-row class="ion-no-padding">
                      <ion-col class="ion-no-padding" size="6"> -->
                  <ion-button
                    [hidden]=""
                    [disabled]="islicence_must || isCameraLoading"
                    shape="round"
                    expand="block"
                    color="success"
                    class="ion-text-uppercase btn-big btn-margin"
                    (click)="finishSeq()"
                  >
                    <span [hidden]="isCameraLoading"> Yes / Continue</span>
                    <ion-spinner [hidden]="!isCameraLoading"></ion-spinner>

                  </ion-button>

                  <!-- <ion-button
                    [disabled]="isCameraLoading"

                    shape="round"
                    expand="block"
                    color="success"
                    class="ion-text-uppercase btn-margin btn-big"
                    (click)="openNativeCamera()"
                    >Recapture Image
                  </ion-button> -->

                  <!-- </ion-col> -->
                  <!-- <ion-col class="ion-no-padding" size="6"> -->
                    <!-- [hidden]="isOpenNativeCamera" -->
                  <ion-button

                    [disabled]="isCameraLoading"
                    shape="round"
                    expand="block"
                    color="danger"
                    class="ion-text-uppercase btn-big btn-margin"
                    (click)="notVerified('licence_verified', false)"
                  >
                    <span [hidden]="isCameraLoading"> No / Override</span>
                    <ion-spinner [hidden]="!isCameraLoading"></ion-spinner>
                  </ion-button>

                  <!-- </ion-col>
                    </ion-row>
                  </ion-grid> -->
                </ion-radio-group>

                <!-- <ion-button shape="round" expand="block" color="success" class="ion-text-uppercase btn-big"
                  [disabled]="isCameraLoading" (click)="rover_mode ? openNativeCamera() : openCameras()">
                  <span [hidden]="isCameraLoading || !camera.capture_progress">
                    Replace License Plate Image
                  </span>
                  <ion-icon [hidden]="isCameraLoading" *ngIf="!camera.capture_progress" name="refresh-outline"
                    style="font-size: 2.2em; margin: 5px 0;"></ion-icon>
                  <ion-spinner [hidden]="!isCameraLoading"></ion-spinner>
                </ion-button> -->
              </ion-list>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <app-open-door (output)="bolan($event)" [scan_log_id]="data.scan_log.id" [web_relay_id]="user.selected_web_relay"></app-open-door>
      </ion-slide>
    </ion-slides>

  </form>
</ion-content>
