<ion-header>
  <!-- <img src="assets/imgs/backtop.jpg" /> -->
</ion-header>
<ion-content class="ion-padding">

  <div class="logo">
    <img src="assets/imgs/logo_dark_tutorial.png" />
  </div>

  <ion-list class="ion-padding">

    <form [formGroup]="aForm">


      <ion-item class="form_input ion-text-wrap">
        <ion-label position="stacked">
          Please create your new password
        </ion-label>
        <ion-input type="password" formControlName="password" placeholder=""></ion-input>
        <ion-icon slot="end" *ngIf="!aForm.controls.password.valid  && ( aForm.controls.password.dirty || submitAttempt )"
          color="secondary" name="close-circle"></ion-icon>

      </ion-item>

      <ion-item class="form_input ion-text-wrap">
        <ion-label position="stacked">
          Confirm Password
          <!-- <ion-icon name="person"></ion-icon> -->
        </ion-label>
        <ion-input type="password" formControlName="confirm_password" placeholder=""></ion-input>
        <ion-icon slot="end" *ngIf="!aForm.controls.confirm_password.valid  && ( aForm.controls.password.dirty || submitAttempt )"
          color="secondary" name="close-circle"></ion-icon>
      </ion-item>


      <!-- <ion-item *ngIf="!aForm.controls.password.valid  && ( aForm.controls.password.dirty || submitAttempt )">
          <ion-badge>invalid password...</ion-badge>
      </ion-item> -->

      <div class="ion-padding">
        <div *ngIf="!aForm.controls.password.valid  && ( aForm.controls.password.dirty || submitAttempt )">Your password
          must be at least 9 characters long, should contain at-least 1 Uppercase, 1 Lowercase, 1 Numeric and 1 special
          character.</div>
      </div>

      <ion-button shape="round" color="primary" expand="block" type="submit" (click)="save()">Update</ion-button>

    </form>

  </ion-list>


</ion-content>
