<!--
  Generated template for the Error404Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>

  <ion-navbar>
    <ion-title>error404</ion-title>
  </ion-navbar>

</ion-header> -->


<ion-content padding>


</ion-content>

<ion-footer padding>
  <button ion-button full (click)="clearStorage()">RESOLVE</button>
</ion-footer>
