page-error404 {

  background-size:cover !important;
  ion-header {
    position: absolute;
  }
  ion-content {
    // background:url(assets/imgs/become_back.jpg) !important;
    // background: #ffffff;
    // background-size: cover;
    // background-repeat: no-repeat;
    background: url("./../../assets/imgs/404error.jpg") center center no-repeat;
  }
}
