ion-header {
    position: absolute;
}

ion-content {
    // background: #dce9f9 !important;
    --background: url("./../../../assets/imgs/bg-m1.jpg") no-repeat;
    background-size: cover;
    background-position: center center;

    .fixed-content,
    .scroll-content {
        margin-bottom: 0px !important;
        margin-top: 0px !important;
        z-index: 999;
        -webkit-transform: translate(-0%, -100%);
        top: 50%;
        left: 0%;
        transform: translate(0%, -100%);
        z-index: 999;
        overflow: initial;
    }

    .logo {
        margin: 0 auto;
        margin-bottom: 20px !important;
        padding-top: env(safe-area-inset-top, 40px);
        text-align: center;
    }

    .item-checkbox-checked {
        ion-avatar {
            background: color(primary);

            img {
                -webkit-filter: invert(100%);
                filter: invert(100%);
            }
        }
    }

    .item-block {
        min-height: 3.2rem !important;
    }

    .signup_back {
        background: #fff !important;
        margin-top: 54px;
        padding: 0px;
    }

    .signup_email {
        padding: 0px 0px 0px;

        .signup-drop {
            background: #eaeaea;
            height: 74px;
            padding: 10px 10px 0px;

            .se-left {
                float: left;
                width: 80%;
                text-align: left;

                .se-icon {
                    float: left;
                    background: #3b3b3b;
                    color: #fff;
                    width: 50px;
                    height: 50px;
                    font-size: 30px;
                    border-radius: 100%;
                    padding: 10px 0px 0px;
                    text-align: center;

                    .icon-ios {
                        padding: 6px 0px 0px;
                    }
                }

                .se-email {
                    float: left;
                    font-size: 1em;
                    padding-left: 10px;
                    line-height: 1;
                    padding-top: 12px;

                    span {
                        display: block;
                        color: #7b7b7b;
                    }
                }

                &:after {
                    content: "";
                    display: block;
                    clear: both;
                }
            }

            .se-right {
                float: right;

                .se-arrow {
                    font-size: 20px;
                    width: 46px;
                    height: 46px;
                    padding-top: 10px;
                }
            }
        }

        button {
            ion-icon {
                padding-left: 5px;
            }
        }
    }

    ion-item {
        padding: 0px 0px !important;

        .item-inner {
            border-bottom: 1px solid #f6f6f6 !important;

            ion-input {
                padding: 5px 12px !important;
            }

            ion-label {
                position: absolute;
                right: 20px;
                top: 05px;
            }
        }
    }

    .email_sign {
        margin-top: 0 !important;
    }

    .facebook_sign {
        background: #e0f0f8;
        height: 74px;
        padding: 10px 10px 0px;

        .se-icon {
            background: #0b79bb !important;
            float: left;
            color: #fff;
            width: 50px;
            height: 50px;
            font-size: 30px;
            border-radius: 100%;
            padding: 2px 0px 0px;
            text-align: center;

            .icon-ios {
                padding: 6px 0px 0px;
            }
        }

        .se-right {
            float: right;

            .se-arrow {
                font-size: 20px;
                width: 46px;
                height: 46px;
                padding-top: 10px;
                color: #0b79bb;
            }
        }

        .se-email {
            float: left;
            font-size: 1em;
            padding-left: 10px;
            line-height: 1;
            padding-top: 12px;
            text-align: left;

            span {
                display: block;
                color: #7b7b7b;
            }
        }
    }

    .google_sign {
        background: #f1dbdb;
        height: 74px;
        padding: 10px 10px 0px;

        .se-icon {
            background: #8a0b0b !important;
            float: left;
            color: #fff;
            width: 50px;
            height: 50px;
            font-size: 30px;
            border-radius: 100%;
            padding: 2px 0px 0px;
            text-align: center;

            .icon-ios {
                padding: 6px 0px 0px;
            }
        }

        .se-right {
            float: right;

            .se-arrow {
                font-size: 20px;
                width: 46px;
                height: 46px;
                padding-top: 10px;
                color: #8a0b0b;
            }
        }

        .se-email {
            float: left;
            font-size: 1em;
            padding-left: 10px;
            line-height: 1;
            padding-top: 12px;
            text-align: left;

            span {
                display: block;
                color: #7b7b7b;
            }
        }
    }
}

.content-md {
    ion-col {
        .se-icon {
            ion-icon {
                padding-top: 5px;
            }
        }
    }
}

ion-footer {
    // .signup-btn {
    //     bottom: 0px;
    //     // position: absolute;
    //     background: color(primary);
    //     color: #fff;
    //     width: 100%;

    //     button {
    //         color: #fff;
    //         font-weight: bold;
    //         background: none;
    //     }
    // }
}
