<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button class="top-back-fix" (click)="closeModal({ data: 'A' })">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Web Relays</ion-title>
    <ion-buttons slot="end">
      <ion-button [hidden]="!isLoading">
        <ion-spinner></ion-spinner>
      </ion-button>
      <ion-button (click)="doRefresh()" [hidden]="isLoading">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-list class="background-transparent">
    <ion-item
      *ngFor="let web_relay of web_relays"
      (click)="closeModal(web_relay)"
      color="primary"
      style="height: 62px"
      lines="none"
    >
      <ion-label>
        <h2>{{ web_relay.web_hook }}</h2>
        <p>{{ web_relay.mac_address }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
