<ion-header>
  <!-- <ion-toolbar>
      <ion-buttons slot="start">

          <ion-button class="top-back-fix" (click)="modals.dismiss()">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>
  </ion-toolbar> -->
<!-- <img src="assets/imgs/backtop.jpg" /> -->
</ion-header>
<ion-content class="ion-padding">

<div class="logo">
   <img src="assets/imgs/logo_dark_tutorial.png" />
</div>

<ion-list>

    <form [formGroup]="aForm">

    <ion-item class="ion-text-wrap">
      <ion-label position="stacked" class="ion-text-wrap">
        Please enter your email to retrieve your password

      </ion-label>
      <ion-input type="email" formControlName="email" id="email" placeholder="example@info.com"></ion-input>
      <ion-icon slot="end" name="mail-outline"></ion-icon>
    </ion-item>

    <!-- <ion-item *ngIf="!aForm.controls.email.valid  && ( aForm.controls.email.dirty || submitAttempt )">
        <ion-badge>invalid email...</ion-badge>
    </ion-item> -->



    <div class="ion-padding">
      <ion-button shape="round" color="primary" expand="full" type="submit" (click)="save()">Send Email</ion-button>
    </div>

    <ion-item class="ion-text-wrap " lines="none" (click)="redirectToContactUsFOrm()">
      <ion-label class="ion-text-wrap ion-text-center">
        <small>If you do not have the email, please contact your administrator or <strong>Click Here</strong></small>
      </ion-label>
    </ion-item>

    <!-- <div class="ion-text-wrap text-transform-non" fill="clear" expand="full" color="primary" (click)="redirectToContactUsFOrm()">
      If you do not have the email, please contact your administrator or <strong>Click Here</strong>
    </div> -->


  </form>

</ion-list>


</ion-content>
<ion-footer color="primary">
  <ion-button class="signup-btn ion-no-padding ion-no-margin" expand="full" color="primary" (click)="login()">Already a Member? Click Here To Login</ion-button>
  <!-- <img src="assets/imgs/background.png"/> -->
</ion-footer>
