<div class="center-dflex-white" [class.color-white]="isColorWhite">
  <ion-icon *ngIf="type == 'icon'" [name]="icon" ></ion-icon>
  <ion-img *ngIf="type == 'image'" [src]="icon"></ion-img>
  <h2 [innerHTML]="message"></h2>
</div>
