// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  // --ion-color-primary: #0a1f42;
  // --ion-color-primary-rgb: 10, 31, 66;
  // --ion-color-primary-contrast: #ffffff;
  // --ion-color-primary-contrast-rgb: 255, 255, 255;
  // --ion-color-primary-shade: #091b3a;
  // --ion-color-primary-tint: #233555;
  --ion-color-primary: #0a1f42;
  --ion-color-primary-rgb: 10, 31, 66;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #091b3a;
  --ion-color-primary-tint: #233555;

  --ion-color-secondary: #f67e56;
  --ion-color-secondary-rgb: 246, 126, 86;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #d86f4c;
  --ion-color-secondary-tint: #f78b67;
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;
  --ion-color-success: #1a8e22;
  --ion-color-success-rgb: 26, 142, 34;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #177d1e;
  --ion-color-success-tint: #319938;
  --ion-color-warning: #cfd266;
  --ion-color-warning-rgb: 207, 210, 102;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #b6b95a;
  --ion-color-warning-tint: #d4d775;
  --ion-color-danger: #f53d3d;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d83636;
  --ion-color-danger-tint: #f65050;
  --ion-color-dark: #222222;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e1e1e;
  --ion-color-dark-tint: #383838;
  --ion-color-medium: #7b7b7b;
  --ion-color-medium-rgb: 123, 123, 123;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #6c6c6c;
  --ion-color-medium-tint: #888888;
  --ion-color-light: #f4f4f4;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d7d7;
  --ion-color-light-tint: #f5f5f5;
  --color-scheme: light;

  %menu_transparent {
    ion-navbar {
      .toolbar-background {
        background: none !important;
        border: 0px !important;
        color: color(white) !important;
      }

      .toolbar-title {
        color: color(white) !important;
      }
    }

    ion-buttons {
      button {
        color: color(white) !important;
      }
    }
  }

  %serach_transparent {
    ion-searchbar {
      background: none !important;
      border-bottom: 1px solid #355273 !important;

      input {
        background: none !important;
        color: color(white) !important;
        box-shadow: none !important;
      }

      button {
        color: color(white) !important;

        ion-icon {
          color: color(white) !important;
        }
      }

      input::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #fff !important;
      }

      input::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff !important;
      }

      input:-ms-input-placeholder {
        /* IE 10+ */
        color: #fff !important;
      }

      input:-moz-placeholder {
        /* Firefox 18- */
        color: #fff !important;
      }
    }
  }

  .list-transparent {
    ion-list {
      margin: 0px !important;

      ion-item {
        background: none !important;
        padding: 0px !important;
        border: 0px !important;
        color: #fff !important;

        ion-avatar {
          margin: 0px !important;

          img {
            border: 2px solid colors(light_blue);
            width: 50px !important;
            height: 50px !important;
            margin-right: 10px;
          }
        }

        ion-label {
          text-transform: uppercase;

          p {
            color: #8a9cbb !important;

            span {
              color: color(white);
            }
          }
        }
      }
    }
  }

  .global-background {
    --background: -webkit-gradient(
      linear,
      left top,
      left top,
      color-stop(0, var(--ion-color-primary)),
      color-stop(1, #1d4a8f)
    );
    --background: -o-linear-gradient(top, var(--ion-color-primary) 0%, #1d4a8f 100%);
    --background: -moz-linear-gradient(top, var(--ion-color-primary) 0%, #1d4a8f 100%);
    --background: -webkit-linear-gradient(top, var(--ion-color-primary) 0%, #1d4a8f 100%);
    --background: -ms-linear-gradient(top, var(--ion-color-primary) 0%, #1d4a8f 100%);
    --background: linear-gradient(to top, var(--ion-color-primary) 0%, #1d4a8f 100%);
  }

  .fab-btn-c .floating-label {
    position: absolute;
    left: -105px;
    bottom: 0;
    transform: translateY(-20%);
    background: lightgray;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 4px 10px 10px 4px;
    width: 100px;
    text-align: center;
    font-size: 11px;
  }

  app-guard-licence-page {
    background: var(--ion-color-primary);
  }
}
