<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Call Logs
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">

  <!-- <div class="logo">
    <img src="assets/imgs/logo_dark_tutorial.png" />
  </div> -->
  <!-- <img src="assets/imgs/guard.png" class="gua-log" /> -->

  <!-- <ion-list class="ion-text-center ion-margin">

    <form [formGroup]="aForm">

      <ion-item>
        <ion-label position="stacked">Phone Number<ion-icon class="phone-icon" name="call-outline" color="dark"
            slot="end"></ion-icon>
        </ion-label>
        <ion-input type="tel" formControlName="phone" id="phone" placeholder="Phone Number"
          (input)="onTelephoneChange($event, $event.target['value'])"></ion-input>
      </ion-item>

      <ion-item *ngIf="!aForm.controls.phone.valid  && ( aForm.controls.phone.dirty || submitAttempt )">
        <ion-badge>invalid phone number</ion-badge>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Extension<ion-icon class="phone-icon" name="call-outline" color="dark" slot="end">
          </ion-icon>
        </ion-label>
        <ion-input type="tel" formControlName="ext" id="ext" placeholder="Extension"></ion-input>
      </ion-item>


      <ion-item>
        <ion-label position="stacked">Password<ion-icon class="lock-icon" name="lock-closed-outline"></ion-icon>
        </ion-label>
        <ion-input type="password" formControlName="password" id="password" placeholder="*****"></ion-input>
      </ion-item>

      <ion-item *ngIf="!aForm.controls.password.valid  && ( aForm.controls.password.dirty || submitAttempt )">
        <ion-badge>invalid password</ion-badge>
      </ion-item>

      <div class="ion-padding">
        <ion-button shape="round" expand="full" color="primary" type="submit" (click)="login()">Sign In
        </ion-button>
      </div>

    </form>

  </ion-list> -->



  <ion-list *ngIf="msgList">
    <ion-item lines="full" *ngFor="let item of msgList; let i = index" color="primary">

      <ion-label>

        <h2>
          From: {{item.from.phoneNumber}}
        </h2>

        <p *ngFor="let recording of item.attachments" (click)="playAudio(recording)">
          <span>
            Recorded On: {{item.creationTime | date }}
          </span>
          <br>
          <span>
            Duration: {{recording.vmDuration + ' secs'}}
          </span>
          <ion-icon class="ion-float-right" [name]="recording.playing_index == true ? 'pause-outline' : 'play-outline'">
          </ion-icon>
        </p>

      </ion-label>

    </ion-item>

  </ion-list>



</ion-content>