.wizard {
  ul {
    padding: 0px;
    margin: 0px;
    li {
      float: left;
      width: 33%;
      height: 42px;
      list-style: none;
      position: relative;
      button {
        background: #1a4382;
        padding: 0px;
        width: 30px;
        height: 30px;
        border: 2px solid #0a1f42;
        border-radius: 50%;
        color: #fff;
      }
      &:after {
        content: "";
        border-bottom: 2px solid #1a4381;
        width: 100%;
        height: 2px !important;
        position: absolute;
        top: 12px;
        display: inline-block;
      }
    }
    li.active {
      button {
        background: #fff;
        color: var(--ion-color-primary);
      }
      &:after {
        border-bottom: 2px solid #fff;
      }
    }
    li:first-child {
      text-align: left;
    }
    li:last-child {
      text-align: right;
    }
    li:last-child:after {
      display: none;
    }
  }
}
