ion-footer{
  background: var(--ion-color-primary);
}
// .box-slides {
//     height: 100vh !important;
//     background: pink;
//     width: 100vw;
// }

.box-wh {
    width: 100%;
    height: 100%;
}

.wizardry-numbers{
  display: block;
  width: 200px;
  text-align: center;
  margin: 0 auto;
}
