<ion-header [hidden]="this.step === 3 || !user">
  <ion-toolbar color="primary">
    <ion-title>{{this.step === 0 ? 'Profile' : '' }}</ion-title>
  </ion-toolbar>
  <!-- <ion-toolbar color="primary">
    <ion-title class="ion-text-center">
      <app-wizard class="wizardry-numbers" [step]="step" (goStep)="goStep($event)"></app-wizard>
    </ion-title>

  </ion-toolbar> -->
</ion-header>

<ion-content #content color="primary">


<ion-slides pager="false" #slides [hidden]="!user">

  <ion-slide class="box-slides">
    <app-firstscreen class="box-wh" [user]="user"> </app-firstscreen>
  </ion-slide>
  <!-- <ion-slide style="height: 100%;">
    <app-secondscreen style="height: 100%; width: 100%;" [user]="user" [dial_code]="dial_code" ></app-secondscreen>
  </ion-slide>
  <ion-slide class="box-slides">
    <app-thirdscreen class="box-wh" [user]="user"></app-thirdscreen>
  </ion-slide> -->
  <ion-slide style="height: 100%;">
    <app-successscreen style="height: 100vh; width: 100%;" [heading1]="heading1" [start]="start"></app-successscreen>
  </ion-slide>

</ion-slides>


</ion-content>
<ion-footer class="ion-padding" color="primary" [hidden]="this.step === 1 || !user">
  <ion-button shape="round" expand="block" class="ion-text-uppercase" color="light" (click)="goToNext()">
    <span *ngIf="!isLoading">Next</span>
    <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
  </ion-button>
</ion-footer>
