<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeModel()" [hidden]="isLoading">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Residents </ion-title>
    <ion-buttons slot="end">
      <ion-button [hidden]="!isLoading">
        <ion-spinner></ion-spinner>
      </ion-button>
      <ion-button (click)="sync()" [hidden]="isLoading">
        <ion-icon name="sync-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar #searchbar [(ngModel)]="searchTerm" (input)="searchUpdate($event)" (ionClear)="clearUpdate($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="true">
  <!-- Your virtual scroll content -->
  <div *ngIf="isWithinLocation">
    <ion-card *ngFor="let c of residents.allResidents; let j = index">
      <ion-item class="ion-text-wrap" lines="none">
        <ion-avatar slot="start">
          <img *ngIf="!c.profileImageUrl" [src]="avatar" />
          <img *ngIf="c.profileImageUrl" [src]="c.profileImageUrl" />
        </ion-avatar>
        <ion-label style="text-transform: capitalize;">
          <h2>{{ c.first_name + " " + c.last_name }}</h2>
          <p *ngIf="c.formatted_phone !== null" [innerHtml]="returnPhoneFormat(c)"></p>
          <p *ngIf="c.formatted_phone_one !== null" [innerHtml]="c.formatted_phone_one"></p>
          <p *ngIf="c.formatted_phone_two !== null" [innerHtml]="c.formatted_phone_two"></p>

          <!-- <p>{{ c.additional_phone[0] != null ? '('+c.additional_phone[0]['contact'][0]+c.additional_phone[0]['contact'][1]+c.additional_phone[0]['contact'][2]+') '+c.additional_phone[0]['contact'][3]+c.additional_phone[0]['contact'][4]+c.additional_phone[0]['contact'][5]+'-'+c.additional_phone[0]['contact'][6]+c.additional_phone[0]['contact'][7]+c.additional_phone[0]['contact'][8]+c.additional_phone[0]['contact'][9] : '' }}</p>
          <p>{{ c.additional_phone[1] != null ? '('+c.additional_phone[1]['contact'][0]+c.additional_phone[1]['contact'][1]+c.additional_phone[1]['contact'][2]+') '+c.additional_phone[1]['contact'][3]+c.additional_phone[1]['contact'][4]+c.additional_phone[1]['contact'][5]+'-'+c.additional_phone[1]['contact'][6]+c.additional_phone[1]['contact'][7]+c.additional_phone[1]['contact'][8]+c.additional_phone[1]['contact'][9] : '' }}</p> -->
          <p>{{ c.house_detail }}</p>

        </ion-label>
        <ion-icon name="star" *ngIf="c.role_id === 4" color="warning"></ion-icon>
      </ion-item>




      <!-- (ionChange)="itemSegmentChanged($event)" -->
      <ion-segment>
          <!-- <ion-item >
            <ion-select placeholder="Call" (ionChange)="callMe($event)" class="mySelect">
               <ion-select-option value="{{ c.formatted_phone != null ? c.formatted_phone : '' }}">{{ c.formatted_phone != null ? c.formatted_phone : '' }}</ion-select-option>
              <ion-select-option value="{{ c.additional_phone[0] != null ? c.additional_phone[0]['contact'] : '' }}">{{ c.additional_phone[0] != null ? '('+c.additional_phone[0]['contact'][0]+c.additional_phone[0]['contact'][1]+c.additional_phone[0]['contact'][2]+') '+c.additional_phone[0]['contact'][3]+c.additional_phone[0]['contact'][4]+c.additional_phone[0]['contact'][5]+'-'+c.additional_phone[0]['contact'][6]+c.additional_phone[0]['contact'][7]+c.additional_phone[0]['contact'][8]+c.additional_phone[0]['contact'][9] : '' }}</ion-select-option>
              <ion-select-option value="{{ c.additional_phone[1] != null ? c.additional_phone[1]['contact'] : '' }}">{{ c.additional_phone[1] != null ? '('+c.additional_phone[1]['contact'][0]+c.additional_phone[1]['contact'][1]+c.additional_phone[1]['contact'][2]+') '+c.additional_phone[1]['contact'][3]+c.additional_phone[1]['contact'][4]+c.additional_phone[1]['contact'][5]+'-'+c.additional_phone[1]['contact'][6]+c.additional_phone[1]['contact'][7]+c.additional_phone[1]['contact'][8]+c.additional_phone[1]['contact'][9] : '' }}</ion-select-option>
            </ion-select>
          </ion-item>  -->
          <ion-segment-button value="additional_phone" [disabled]="c?.is_suspended === '1' " (click)="additionalPhoneNumbers(c.formatted_phone, c.formatted_phone_one, c.formatted_phone_two )" >
            <ion-label>Call <br />Resident</ion-label>
          </ion-segment-button>
        <ion-segment-button value="quick_pass" [disabled]="c?.is_suspended === '1'" (click)="quickpassViaAdminGuard(c)">
          <ion-label>Verified <br />By Guard</ion-label>
        </ion-segment-button>
        <ion-segment-button value="guests" [disabled]="c?.is_suspended === '1'" (click)="dncViaAdminGuard(c)">
          <ion-label>Pre-Approved <br />Guests</ion-label>
        </ion-segment-button>
      </ion-segment>

      <!-- <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-button
              fill="outline"
              shape="round"
              size="small"
              *ngIf="c.formatted_phone != null"
              (click)="callMe(c.formatted_phone)"
              >Call</ion-button
            >
          </ion-col>
          <ion-col size="4"
            ><ion-button
              fill="outline"
              shape="round"
              size="small"
              [disabled]="c?.is_suspended == '1'"
              (click)="quickpassViaAdminGuard(c)"
            >
              Quick Pass
            </ion-button>
          </ion-col>
          <ion-col size="4"
            ><ion-button
              fill="outline"
              shape="round"
              size="small"
              [disabled]="c?.is_suspended == '1'"
              (click)="dncViaAdminGuard(c)"
            >
              Pre Approved
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid> -->
    </ion-card>

    <!-- <ion-list>

    </ion-list> -->

    <app-emptyview *ngIf="residents.allResidents.length === 0 || (residents.allResidents | filter: search_value).length === 0" [icon]="'assets/imgs/identity.png'" [type]="'image'" [message]="'No Record Found'"></app-emptyview>
  </div>


  <ion-infinite-scroll (ionInfinite)="residents.offset !== -1 ? loadMore($event) : $event.target.complete()">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <app-emptyview *ngIf="!isWithinLocation" [icon]="'assets/imgs/identity.png'" [type]="'image'"
    [message]="'You are out of range'"></app-emptyview>
</ion-content>

<!--
<ion-fab vertical="bottom" horizontal="end" class="fab-btn-c">
  <ion-fab-button color="primary" (click)="sync()">
    <ion-spinner *ngIf="isSync" color="light"></ion-spinner>
    <ion-icon *ngIf="!isSync" name="refresh-outline"></ion-icon>
  </ion-fab-button>
  <label class="floating-label" side="left">Sync</label>
</ion-fab> -->
