.yellow-border{
    border: 1px solid yellow !important;
    margin-bottom: 5px !important;
    border-radius: 4px;
  }

  ion-footer{
    ion-button{
      z-index: 9999;
      background: white;
      color: black;
      border-radius: 100px;
      
    }
  }
