<ion-header>
  <ion-toolbar color="primary">
    <ion-title>License Upload</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeDismiss({ data: 'A' })">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="primary">
  <form>
    <h2>Verification</h2>
    <p>Please upload a valid form of ID as requested below</p>

    <ion-item color="primary">
      <ion-label>License Type: Driver's License</ion-label>
      <!-- <ion-input formControlName="license_type" readonly="true" value="Driver License"></ion-input> -->
      <!-- <ion-select formControlName="license_type" [disabled]="is_licence_locked == 1">
        <ion-select-option value="driving_license">Driver's License</ion-select-option>
        <ion-select-option value="student_id">Student ID</ion-select-option>
        <ion-select-option value="millitary_id">Millitary ID</ion-select-option>
        <ion-select-option value="passport">Passport</ion-select-option>
      </ion-select> -->
    </ion-item>

    <div>
      <img [src]="domSanitizer.bypassSecurityTrustUrl(liImageBase64)" />
    </div>

    <ion-button
      color="light"
      expand="full"
      class="white"
      (click)="getlicenseimage()"
    >
      <ion-icon name="add"></ion-icon> Upload License
    </ion-button>
  </form>
</ion-content>
<ion-footer [translucent]="false" class="ion-margin-bottom ion-margin-top">
  <ion-button
    color="white"
    shape="round"
    expand="block"
    class="ion-text-uppercase"
    (click)="finishregister()"
    >CONTINUE
  </ion-button>
</ion-footer>
