<ion-content no-bounce class="page-splash">

  <ion-img [src]="'assets/imgs/static-splash-min.png'" ></ion-img>


  <div class="mdiv">
    <ion-spinner [color]="'light'" name="bubbles"></ion-spinner>
    <div class="text">{{sqlite?.msg}}</div>
  </div>

</ion-content>
