<!--
  Generated template for the CodeVerificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-button (click)="closeView()">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [fullscreen]="true" >

<div class="logo" >
  <img src="/assets/imgs/logo_dark_tutorial.png" />
</div>

<ion-list>

  <form [formGroup]="aForm">

    <ion-item class="ion-text-wrap ion-text-center">
      <ion-label>
        <h2>{{h2}}</h2>
        <p>{{para}}</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">
        Verification Code
        <ion-icon slot="end" name="lock"></ion-icon>
      </ion-label>
      <ion-input type="text" formControlName="code" id="code" placeholder="XXXXXX"></ion-input>
    </ion-item>

    <ion-item *ngIf="!aForm.controls.code.valid  && ( aForm.controls.code.dirty || submitAttempt )">
      <ion-badge>invalid code...</ion-badge>
    </ion-item>

    <div class="ion-padding left-con-padding">
      <ion-button shape="round" color="primary" expand="block" type="submit" (click)="sendCodeToServer()">Proceed </ion-button>
    </div>
    <ion-button fill="clear" class="ion-text-wrap ion-text-center ion-no-margin" (click)="redirectToContactUsFOrm()">
        <small>If you do not have the code, please contact your administrator or </small> <strong>Click Here</strong>
    </ion-button>

  </form>

</ion-list>


</ion-content>
