<ion-header *ngIf="ignore_scan_log_id">
  <ion-toolbar color="primary">
    <ion-buttons slot="start" (click)="modals.dismiss()">
      <ion-button> close </ion-button>
    </ion-buttons>
    <ion-title>Open Gate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary" *ngIf="ignore_scan_log_id">
  <ion-grid>
    <ion-row>
      <ion-row>
        <ion-col size="12">

        </ion-col>
      </ion-row>
    </ion-row>
    <ion-row class="">
      <ion-col size="12">
        <ion-card-header>
          <!-- <ion-card-subtitle>Community name</ion-card-subtitle> -->
          <ion-card-title color="light" style="text-align: center"
            >PRESS BUTTON TO OPEN GATE</ion-card-title
          >
        </ion-card-header>

        <ion-card-content>
          <div class="square open-door" (click)="openDoor()">
            <div class="call-out" [hidden]="loading">OPEN GATE</div>
            <div class="call-out" [hidden]="!loading">
              <ion-spinner></ion-spinner>
            </div>
          </div>

          <!-- <ion-button
            color="secondary"
            class="ion-text-uppercase btn-big"
            expand="block"
            (click)="openDoor()"
            [disabled]="loading"
          >
            <span [hidden]="loading">Open Door</span>
            <ion-spinner [hidden]="!loading"></ion-spinner>
          </ion-button> -->
        </ion-card-content>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-grid *ngIf="!ignore_scan_log_id">
  <ion-row>
    <ion-row>
      <ion-col size="12">

      </ion-col>
    </ion-row>
  </ion-row>
  <ion-row class="">
    <ion-col size="12">
      <ion-card-header>
        <!-- <ion-card-subtitle>Community name</ion-card-subtitle> -->
        <ion-card-title color="light" style="text-align: center"
          >PRESS BUTTON TO OPEN GATE</ion-card-title
        >
      </ion-card-header>

      <ion-card-content>
        <div class="square open-door" (click)="openDoor()">
          <div class="call-out" [hidden]="loading">OPEN GATE</div>
          <div class="call-out" [hidden]="!loading">
            <ion-spinner></ion-spinner>
          </div>
        </div>

        <!-- <ion-button
          color="secondary"
          class="ion-text-uppercase btn-big"
          expand="block"
          (click)="openDoor()"
          [disabled]="loading"
        >
          <span [hidden]="loading">Open Door</span>
          <ion-spinner [hidden]="!loading"></ion-spinner>
        </ion-button> -->
      </ion-card-content>
    </ion-col>
  </ion-row>
</ion-grid>
