.btn-row {
  height: 100%;
  align-items: center;

  ion-button {
    height: 100;
    font-size: 1.5rem;
  }
}

.btn-big {
  height: 90px;
  font-weight: bold;
  font-size: 1.5em;
  margin-top: 70px;
}

.open-door {
  background: var(--ion-color-success);
  margin: 0 auto;
  border-radius: 50%;
}
.call-out {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
}
.square {
  position: relative;
  width: 70%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
