<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button class="top-back-fix" (click)="closeModal({data: 'A'})">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Cameras</ion-title>
    <ion-buttons slot="end">
      <ion-button [hidden]="!isLoading">
        <ion-spinner></ion-spinner>
      </ion-button>
      <ion-button (click)="doRefresh()" [hidden]="isLoading">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content color="primary">

  <ion-list class="background-transparent">
    <ion-item *ngFor="let camera of cameras" (click)="openCamera(camera)" color="primary" style="height: 62px;">
      <ion-label>
        <h2>{{camera.name}} </h2>
        <p> {{camera.mac_address}} </p>
      </ion-label>
      <!-- <span item-right> -->
      <!-- [checked]="isSelectedContact(item.id) == true" -->
      <!-- <ion-checkbox slot="end" [(ngModel)]="item.is_assigned_temporary"  (ionChange)="addSelectedContact.emit( { checked: item.is_assigned_temporary, id: item.id} )"></ion-checkbox> -->
      <!-- </span> -->
    </ion-item>
  </ion-list>
</ion-content>