<ion-header>
  <ion-toolbar>
    <ion-title>Select Country</ion-title>
    <!-- <ion-searchbar [showCancelButton]="false" #searchbar [(ngModel)]="search_value" (ionCancel)="closeModal({data: 'A'})" showCancelButton="always"></ion-searchbar> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of countries" (click)="onSelectCountry(item)">
      <ion-avatar slot="start">
        <img [src]="item.image" />
      </ion-avatar>
      <ion-label>
        <h2>{{ item.code }} {{ item.dial_code }}</h2>
        <p>{{ item.name }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
