<ion-card color="primary">
  <ion-card-header>
    <ion-card-subtitle>Step 1</ion-card-subtitle>
    <ion-card-title>Verify Guest With The Below ID</ion-card-title>
    <ion-spinner [hidden]="!doorBirdAvailable" *ngIf="doorbirdCamLoading" class="license_plate_pic">
    </ion-spinner>
    <!-- <div *ngIf="!enableDoorbird">
      <img [hidden]="!doorBirdAvailable" *ngIf="!doorbirdCamLoading" class="license_plate_pic"
        [src]="doorbird_cam?.ImageURL" alt="" />


    </div>
    <div *ngIf="enableDoorbird">
      <img *ngIf="!doorBirdAvailable" [src]="data?.added_user.license_image_url" />
      <img *ngIf="doorBirdAvailable" [src]="doorbirdImageUrl" />
    </div> -->
    <div *ngIf="enableDoorbird && doorBirdAvailable">
      <img [src]="doorbirdImageUrl" />
    </div>
    <div *ngIf="!enableDoorbird">
      <img [src]="data?.added_user.license_image_url" />
    </div>
  </ion-card-header>

  <ion-card-content>
    <p>Verified ?</p>
    <p>Resident : {{residentName}}</p>
    <ion-list class="ion-padding background-transparent">
      <div [formGroup]="aForm">
        <ion-radio-group formControlName="image_verified" color="primary" [hidden]="isCameraLoading">
          <!--  -->
          <ion-button [disabled]="disableBtn" shape="round" expand="block" class="ion-text-uppercase btn-big ion-margin-bottom" color="success" (click)="notVerified(true)" [hidden]="hideYesButtonLogic()">Yes / Continue</ion-button>
          <ion-button shape="round" expand="block" class="ion-text-uppercase btn-big" color="danger"
            (click)="notVerified(false)">No / Override</ion-button>
        </ion-radio-group>

        <ion-button [hidden]="!isCameraLoading" shape="round" expand="block" class="ion-text-uppercase btn-big" color="danger"><ion-spinner></ion-spinner></ion-button>


      </div>
    </ion-list>
  </ion-card-content>
</ion-card>
