.background-transparent {
    background: transparent !important;
}

.btn-big {
    height: 90px;
    font-weight: bold;
    font-size: 1.1em;
}

.btn-medium {
    height: 30px;
    font-weight: 600;
    margin: 9px 0px;
}

.label {
    font-weight: 900;
}

.license_plate_pic {
    // height: 100%;
    max-height: 150px;
    max-width: 250px;
    margin: 9px 0;
    object-fit: cover;
}

.ocr_input {
    background: aliceblue;
    border-radius: 16px;
    margin: 12px 0;
    color: black;
    text-transform: uppercase;
}

.ocr_input:focus {
    outline: none;
    box-shadow: 0px 0px 5px #000000;
}

.btn-margin {
    margin: 5px 0px;
}

