<ion-card>
  <ion-list>
    <ion-item-sliding #slidingItem class="ion-text-wrap">
      <ion-item class="ion-text-wrap" #Item (click)="open(slidingItem)" lines="none">
        <ion-avatar *ngIf="item.profile_image">
          <img [src]="item?.profile_image">
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h2>{{ item?.event_name }}</h2>
          <div class="cmty">
            <span>{{ item?.page == 'active' ? item?.username : item?.description }}</span>
            <p>{{ item?.community_name}}</p>
          </div>
          <div class="ion-text-wrap" *ngIf="item?.page == 'sent' && item['recipient_count'].length == 1">
            <p style="text-transform: capitalize; font-weight: bold; margin-top: 10px;">
              <strong>Recipient:</strong><br>{{item['recipient']}}</p>
          </div>
          <div class="ion-text-wrap" *ngIf="item?.page == 'active'">
            <p style="font-weight: normal; margin-top: 10px;">{{item?.description}}</p>
          </div>
          <ion-button *ngIf="item.page == 'scanned'" [disabled]="seeingOthersPass" shape="round" fill="outline"
            color="danger" (click)="btnShowHistory($event, item)">
            Show History
          </ion-button>

          <ion-button [disabled]="seeingOthersPass" *ngIf="item.page == 'sent' && item['recipient_count'] > 1"
            shape="round" fill="outline" color="danger" (click)="btnShowCheckbox($event, item)">
            Recipients
          </ion-button>
          <ion-button [disabled]="seeingOthersPass" *ngIf="item.page == 'sent' && item['recipient_count'] > 1"
            shape="round" fill="outline" color="danger" (click)="btnShowGuestLogs($event, item)">
            <ion-icon name="list"></ion-icon>
          </ion-button>
        </ion-label>



        <div class="qrcode_section" slot="end">
          <span class="font-size-12px-100-center">{{ item.pass_start_date }}</span>
          <span class="font-size-12px-100-center">{{ item.pass_validity }}</span>
          <img src="assets/imgs/qrcode.jpg" class="img-qrcode" />
          <span class="font-size-12px-100-center">{{item?.licence_plate}}</span>
        </div>


      </ion-item>
      <ion-item-options class="ion-no-margin ion-no-padding" *ngIf="!seeingOthersPass && item.page != 'scanned' "
        class="ion-text-wrap">

        <ion-button class="ion-no-margin ion-no-padding pass-item-button" style="margin: 0; padding: 0;" fill="clear"
          *ngIf="item?.page == 'sent' " class="retractpass ion-text-wrap" (click)="deletePass(item)">
          <ion-icon name="paper"></ion-icon> Retract Pass
        </ion-button>

        <ion-button class="ion-no-margin ion-no-padding pass-item-button" style="margin: 0; padding: 0;" fill="clear"
          *ngIf="item?.page == 'sent' " class="ion-text-wrap getdirections" (click)="updatePass(item)">
          <ion-icon name="navigate"></ion-icon>
          <span>{{ item?.expired == "1" ? "Edit\nDirections" : 'Edit Pass' }}</span>
        </ion-button>

        <ion-button class="ion-no-margin ion-no-padding pass-item-button" style="margin: 0; padding: 0;" fill="clear"
          *ngIf="item?.page == 'active' || item?.page == 'archieve'" class="viewdetails ion-text-wrap"
          (click)="passDetails(item)">
          <ion-icon slot="start" name="newspaper-outline"></ion-icon><br />View Details
        </ion-button>
        <ion-button class="ion-no-margin ion-no-padding pass-item-button" style="margin: 0; padding: 0;" fill="clear"
          expand="full" *ngIf="item?.page == 'active' || item?.page == 'archieve'" class="getdirections ion-text-wrap"
          (click)="getDirection(item)">
          <ion-icon slot="start" name="compass-outline"></ion-icon><br />Get Directions
        </ion-button>

      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-card>