<ion-header>
  <!-- <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="openLogUsers($event)">
          <ion-icon name="contact"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar> -->
</ion-header>
<ion-content>

  <div class="logo">
    <img src="assets/imgs/logo_dark_tutorial.png" />
  </div>

  <ion-list class="ion-text-center ion-margin">

    <form [formGroup]="aForm">
      <ion-item>
        <ion-label class="text-transform-non" position="stacked">Dial Code</ion-label>
        <ion-select placeholder="Select Dial Code" interface="action-sheet" formControlName="dial_code" id="dial_code" (ionChange)="onCountryCodeChange($event)">
          <ion-select-option *ngFor="let item of fphs.availableDialCodes" [value]="item.country_code">{{ item.country_code }} + {{ item.dial_code }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Phone Number<ion-icon class="phone-icon" name="call-outline" color="dark"
            slot="end"></ion-icon>
        </ion-label>
        <ion-input type="tel" formControlName="phone_number" id="phone_number" placeholder="Phone Number"
          (input)="onTelephoneChange($event, $event.target['value'])"></ion-input>
      </ion-item>


      <ion-item *ngIf="!aForm.controls.phone_number.valid  && ( aForm.controls.phone_number.dirty || submitAttempt )">
        <ion-badge>invalid phone number</ion-badge>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password<ion-icon class="lock-icon" name="lock-closed-outline"></ion-icon>
        </ion-label>
        <ion-input type="password" formControlName="password" id="password" placeholder="*****"></ion-input>
      </ion-item>

      <ion-item *ngIf="!aForm.controls.password.valid  && ( aForm.controls.password.dirty || submitAttempt )">
        <ion-badge>invalid password</ion-badge>
      </ion-item>

      <div class="ion-padding">
        <ion-button shape="round" expand="full" color="primary" type="submit" (click)="login()">Sign In</ion-button>
        <ion-button class="ion-padding text-transform-non ion-margin-bottom" fill="clear" color="primary" expand="full"
          (click)="redirectTo()"> Enter Guard Verification Code</ion-button>
        <ion-button class="createaccount text-transform-non" fill="clear" color="primary" expand="full"
          (click)="forgetpassword()">Forgot Password? Click Here</ion-button>
      </div>

    </form>

  </ion-list>

  <img src="assets/imgs/guard.png" class="gua-log" />


</ion-content>
