<!--
  Generated template for the GuardCodeVerificationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <img src="assets/imgs/backtop.jpg" />
</ion-header> -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="closeView()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" >

  <div class="logo">
    <img src="assets/imgs/logo_dark_tutorial.png" />
  </div>

  <ion-list>

    <form [formGroup]="aForm">

      <ion-item class="ion-text-wrap ion-text-center" lines="none">
        <ion-label class="ion-text-wrap">
          <h2>Security Guard Verification</h2>
          <p>Please Enter The Unique Verification Code Received In Your Email</p>
        </ion-label>

      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          Verification Code
          <ion-icon name="lock"></ion-icon>
        </ion-label>
        <ion-input type="text" formControlName="code" id="code" placeholder="XXXXXX"></ion-input>
      </ion-item>

      <ion-item *ngIf="!aForm.controls.code.valid  && ( aForm.controls.code.dirty || submitAttempt )">
        <ion-badge>invalid code...</ion-badge>
      </ion-item>

      <div class="ion-padding left-con-padding">
        <ion-button shape="round" color="primary" expand="block" type="submit" (click)="verify()">Proceed </ion-button>
      </div>
      <ion-item class="ion-text-wrap " (click)="redirectToContactUsFOrm()" lines="none">
        <ion-label class="ion-text-wrap ion-text-center">
          If You Do Not Have The Code, Please Contact Your Administrator Or <strong>Click Here</strong>
        </ion-label>
      </ion-item>

    </form>

  </ion-list>

  <!-- <img src="assets/imgs/guard.png" class="gua-log" /> -->
</ion-content>
<!-- <ion-footer>
    <img src="assets/imgs/guard_login_bg.png" />
  </ion-footer> -->
