page-guard-code-verification {
  background-size:cover !important;
  ion-header {
    position: absolute;
  }
  ion-content {
    --background: url("./../../../assets/imgs/bg-m1.jpg") 0 0/100% 100% no-repeat;
    // background: #ffffff;
    background-size: cover;
    background-repeat: no-repeat;
    .fixed-content, .scroll-content {
      margin-bottom: 0px !important;
      margin-top: 0px !important;
      z-index: 999;
      -webkit-transform: translate(-50%, -65%);
      top: 50%;
      left: 0%;
      transform: translate(0%, -85%);
      z-index: 999;
      overflow: initial;
    }
    .logo {
      margin: 0 auto;
      margin-bottom: 20px !important;
      text-align: center;
    }
    ion-list {
      background: rgba(255, 255, 255, 0.85);
      ion-item {
        padding: 0px !important;
        border-top: 0px !important;
        background: none !important;
        border-bottom: 1px solid #f3f3f3 !important;
        ion-label {
          color: #053058;
          ion-icon {
            font-size: 2.4em;
            position: absolute;
            right: 15px;
            color: #484848;
          }
        }
      }
      .createaccount {
        color: var(--ion-color-primary);
        font-weight: bold;
        background: none;
      }
    }
    .item-block .item-inner {
      padding: 10px 19px 0 !important;
      border-bottom: 0px !important;
    }
    .label-ios[stacked] {
      font-size: 1.1rem;

    }
    .gua-log{ position: absolute; bottom:-85%; right: 30px; height: 70%; }

    button.item-ios{color: #373737 !important; font-size: 1.5rem; padding-left: 0px; padding-bottom: 23px;}
    .item-ios h2{ font-size: 2.1rem; font-weight: 500;}

  }
  .left-con-padding ion-icon{
    margin-left: 30px;


}
  ion-footer {
    position: absolute;
  }
}

/*Media Queries*/
@media screen and (min-width: 992px) and (max-width:1169px){
  ion-footer {
    position: absolute;
    top: 3%;
    img{ width: 100%;}
  }
  img.gua-log{  bottom: -67% !important;}
}

/*For Tablets*/
@media screen and (min-width: 768px) and (max-width:991px){
  .logo{
     margin-top: 0px;
    img{ width: 100% !important;}
    h1{ font-size: 24px !important; margin: 10px 0 0 0; padding: 0;}
  }
  ion-header img{ width: 100%;}
  ion-footer {
    position: absolute;
    bottom: -90px
  }

  img.gua-log{  bottom: 0; right: 90px !important;}
}

/*For Mobiles*/
@media screen and (min-width: 667px) and (max-width: 767px){
  /*ion-footer img{ width: 100%; position: absolute; bottom: -40px; bottom: -90px}*/
  ion-footer {
    position: absolute;
    img{
      display: none !important;
    }
  }

.logo{
  img{ width: 40% !important }
  h1{ font-size: 24px !important; margin: 10px 0 0 0; padding: 0;}
}
img.gua-log{ display: none !important;}

ion-list{
   margin-top: 0px;
}

}


@media screen and (min-width: 320px) and (max-width: 666px){
img.gua-log{ bottom: -59%;}
}
