<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [hidden]="!loading">
        <ion-spinner></ion-spinner>
      </ion-button>
      <!-- <ion-button (click)="updateFlags()">Save</ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<form [formGroup]="aForm">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <div class="profile-image-outer" (click)="getprofileimage()">
          <img class="profile-image-round" [src]="domSanitizer.bypassSecurityTrustUrl(aForm.controls.profile_image.value)"
             />
          <ion-icon class="camera-icon" color="light" name="camera"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12">
        <ion-item color="primary">
          <ion-label>Date of Birth</ion-label>
          <ion-datetime slot="end" class="ion-text-right" displayFormat="MM-DD-YYYY" formControlName="date_of_birth"
            (ionChange)="validateDate()"></ion-datetime>
          <ion-icon slot="end" color="light" name="calendar"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col size="12">
        <!-- (click)="openCounryCode()" -->
        <ion-item class="form_input" color="primary" >
          <ion-avatar slot="start"  >
            <img class="tel-image" src="{{dial_code.image}}">
          </ion-avatar>
          <div slot="start" class="tel-code">{{aForm.controls.dial_code.value}}</div>
          <ion-input type="tel" (input)="onTelephoneChange($event)" formControlName="phone_number" id="phone_number" readonly="true"
            placeholder="Phone Number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item class="form_input" color="primary">
          <ion-input type="text" formControlName="name" placeholder="First Name"></ion-input>
        </ion-item>
        <ion-badge *ngIf="!aForm.controls.name.valid && aForm.controls.name.dirty">Can Not Leave Null, Required
          [A-Z,a-z] ...</ion-badge>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="12">
        <ion-item class="form_input" color="primary">
          <ion-input type="text" formControlName="middle_name" placeholder="Middle"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col size="12">
        <ion-item class="form_input" color="primary">
          <ion-input type="text" formControlName="last_name" placeholder="Last Name"></ion-input>
        </ion-item>
        <ion-badge *ngIf="!aForm.controls.last_name.valid && aForm.controls.last_name.dirty">can not be null, required
          [A-Z,a-z] ...</ion-badge>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-item class="form_input" color="primary">
          <!-- readonly="true" -->
          <ion-input type="email" formControlName="email" placeholder="Email Address"></ion-input>
        </ion-item>
        <ion-badge *ngIf="!aForm.controls.email.valid && aForm.controls.email.dirty">*example@mail.com ...</ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>


