<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button class="top-back-fix" (click)="closeModal({data: 'A'})">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Camera Stream</ion-title>
    <ion-buttons slot="end">
      <ion-button [hidden]="!isLoading">
        <ion-spinner></ion-spinner>
      </ion-button>
      <ion-button (click)="doRefresh()" [hidden]="isLoading">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content color="primary">

  <div #iframe style="width: 100%;">
    <div *ngIf="stream && stream.url != '' ">
      <iframe [width]="contentWidth" [height]="contentHeight" [src]='stream.url' frameborder="0" allowfullscreen></iframe>
    </div>



  </div>

  <ion-list class="ion-padding background-transparent">
    <ion-button shape="round" expand="block" class="ion-text-uppercase btn-big ion-margin-bottom" color="success"
      (click)="snapImage()">Snap Image</ion-button>
  </ion-list>


</ion-content>